body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}

.info {
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.14px;
  text-align: left;
}
.wizard-container {
  width: 770px;
  height: 470px;
  margin: 50px auto;
  padding: 30px;
  background-color: #e9ecef;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 20px;
}
